#sidebar {
    border-right: 1px solid #DFE1EB;
    position: fixed;
    width: 250px;
    min-height: 90vh;
    height: 100%;
}

#main {
    position: relative;
    width: auto;
    margin-left: 250px;
    padding: 1rem;
    overflow: auto;
    z-index: 1;
}

.schema{
    margin-bottom: -15px!important;
}

.list-group-item {
    border: none!important;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 .5rem!important;
    background: none!important;
}

.list-group-item:hover {
    background: #f0f0fa !important;
    color: #1543B7!important;
}

.list-group-item.active {
    background: #f0f0fa !important;
    color: #1543B7!important;
}

.sidebar-heading {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -16px;
    color: #1543B7!important;
    display: flex;
    align-items: center;
}

.sidebar-heading:hover {
    cursor: auto;
    background: none!important;
}

.sidebar-collapsed {
    background: rgb(7, 71, 166);
    cursor: pointer;
}

.dropdown-menu {
    top: 30px!important;
    bottom: auto!important;
    right: 0!important;
    left: auto!important;
    z-index: 99;
}
