@import "sidebar.css";

body {
    background: #F6F6F6!important;
}

.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.65)!important;
    z-index: 99999;
}

.modal-body {
    height: 100%;
    border-radius: 0;
    position:relative;
}

.modal-footer {
    border-radius: 0;
    bottom:0;
    position:absolute;
    width:100%;
}

.avatar img {
    width: 26px;
    height: 26px;
    min-width: 26px;
    border-radius: 50%;
    cursor: pointer;
}

.text-small {
    opacity: .5;
    font-size: 13px;
}

.modal-footer {
    left: auto!important;
    width: 450px!important;
    background: #ffffff!important;
}

.nav-shadow {
    box-shadow: rgb(0 0 0 / 3%) 0 2px 0 0;
}
